/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Georgia', serif;
$font-size: 17px;
$font-size-mobile: 15px;

$code-font-stack: 'Source Code Pro', monospace;

// Body
$body-text-color: #162F26;
$body-background-color: #fef7ee;
$body-top-border-color: #00a43f;
$body-top-border-width: 7px;

// Links
$link-color: #00a43f;

// Navigation
$nav-bottom-border-color: #BBCFD4;
$nav-bottom-border-width: 0px;

$nav-link-color: #344536;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.5rem;
$nav-link-underline-color: #00a43f;

$nav-icon-color: #ffffff;
$nav-icon-background-color: #007f31;

// Blog post headings and page titles
$post-title-color: #344536;
$post-date-color: #B3BAA9;

// Message box
$message-color: #162F26;
$message-background-color: #DCE7DD;
