<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <a href="{{ site.baseurl }}/"><img style="text-align: center; margin: auto; max-width: 600px;" src="/figures/SMBPDEEbanner.svg" /></a>

    <nav class="nav-main" style="font-size: 20px;">
      <ul>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about">About</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/projects">Projects</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/events">Events</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog">Blog</a></li>
      </ul>
    </nav>

    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <hr>
          <p>
            <a href="https://www.smb.org/" target="_blank"><img style="text-align: center; margin: auto; width: 240px;" src="./figures/SMBlogo.png"></a>
          </p>
      </footer>
    </div>

  </body>
</html>
